
	<div class="container">

		<div class="row  mt-3">


			<div class="col-3 mr-3">
				<div class="card" style="width: 18rem;">
					<div class="card-header">
						Sort by
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item"><a href="/search"><i class="fa fa-angle-double-right" aria-hidden="true"></i><i class="fa fa-angle-double-right" aria-hidden="true"></i> Default</a></li>
						<li class="list-group-item"><a href="/search/price?Name={{this.name}}"><i class="fa fa-angle-double-right" aria-hidden="true"></i><i class="fa fa-angle-double-right" aria-hidden="true"></i> Price <i class="fa fa-money float-right" aria-hidden="true"></i></a></li>
						<li class="list-group-item"><a href="/search/rate?Name={{this.name}}"><i class="fa fa-angle-double-right" aria-hidden="true"></i><i class="fa fa-angle-double-right" aria-hidden="true"></i> Rate <i class="fa fa-star-o float-right" aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</div>
			{{#if isNull}}
			<div> Không tìm thấy sản phẩm</div>
			{{else}}
				{{#each this.product}}
			<div class="col-6 col-lg-3 ftco-animate">
				<div class="product">
					<a href="#" class="img-prod"><img class="img-fluid" src="{{Image}}" alt="Colorlib Template">
						{{#if Discount}}
						<span class="status">{{Discount}}%</span>
						{{/if}}
						<div class="overlay"></div>
					</a>
					<div class="text py-3 pb-4 px-3 text-center">
						<h3><a href="#">{{ProductName}}</a></h3>
						<div class="d-flex">
							<div class="pricing">
								{{#if Discount }}
								<p class="price"><span class="mr-2 price-dc">{{formatNumber Price}}</span><span
										class="price-sale">{{discountPrice Price Discounts}}</span></p>

								{{else}}
								<p class=""><span class="mr-2 price-dc">{{formatNumber Price}}</span></p>

								{{/if}}
							</div>
						</div>
						<div class="bottom-area d-flex px-3">
							<div class="m-auto d-flex">
								<a href="#"
									class="add-to-cart d-flex justify-content-center align-items-center text-center">
									<span><i class="ion-ios-menu"></i></span>
								</a>
								<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
									<span><i class="ion-ios-cart"></i></span>
								</a>
								<a href="#" class="heart d-flex justify-content-center align-items-center ">
									<span><i class="ion-ios-heart"></i></span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			{{/each }}
			{{/if}}
			
		</div>
	</div>
